
> 
backup_full_20260305_1706.sql:938:CREATE 
FUNCTION public.process_audit_log() 
RETURNS trigger
  backup_full_20260305_1706.sql:939:    
LANGUAGE plpgsql SECURITY DEFINER
  backup_full_20260305_1706.sql:940:    
AS $$
  backup_full_20260305_1706.sql:941:     
       DECLARE
  backup_full_20260305_1706.sql:942:     
           user_id uuid;
  backup_full_20260305_1706.sql:943:     
           user_name text;
  backup_full_20260305_1706.sql:944:     
       BEGIN
  backup_full_20260305_1706.sql:945:     
           -- Tenta obter o ID do 
utilizador da variável de sessão 
(injetada pelo Node.js)
  backup_full_20260305_1706.sql:946:     
           -- Se não existir, tenta 
obter do JWT do Supabase (para chamadas 
diretas via client/REST)
  backup_full_20260305_1706.sql:947:     
           BEGIN
  backup_full_20260305_1706.sql:948:     
               user_id := current_setting
('app.current_user_id')::uuid;
  backup_full_20260305_1706.sql:949:     
           EXCEPTION WHEN OTHERS THEN
  backup_full_20260305_1706.sql:950:     
               BEGIN
  backup_full_20260305_1706.sql:951:     
                   user_id := (nullif(cur
rent_setting('request.jwt.claims', 
true), '')::jsonb ->> 'sub')::uuid;
  backup_full_20260305_1706.sql:952:     
               EXCEPTION WHEN OTHERS THEN
  backup_full_20260305_1706.sql:953:     
                   user_id := NULL;
  backup_full_20260305_1706.sql:954:     
               END;
  backup_full_20260305_1706.sql:955:     
           END;
  backup_full_20260305_1706.sql:956:
  backup_full_20260305_1706.sql:957:     
           -- Busca o nome do utilizador 
se o ID estiver disponível
  backup_full_20260305_1706.sql:958:     
           IF user_id IS NOT NULL THEN
  backup_full_20260305_1706.sql:959:     
               SELECT concat(first_name, 
' ', last_name) INTO user_name 
  backup_full_20260305_1706.sql:960:     
               FROM profiles 
  backup_full_20260305_1706.sql:961:     
               WHERE id = user_id;
  backup_full_20260305_1706.sql:962:     
               
  backup_full_20260305_1706.sql:963:     
               -- Fallback se o perfil 
não tiver nome ou não for encontrado
  backup_full_20260305_1706.sql:964:     
               IF user_name IS NULL OR 
trim(user_name) = '' THEN
  backup_full_20260305_1706.sql:965:     
                   user_name := 
'Utilizador Desconhecido';
  backup_full_20260305_1706.sql:966:     
               END IF;
  backup_full_20260305_1706.sql:967:     
           ELSE
  backup_full_20260305_1706.sql:968:     
               user_name := 
'Sistema/Automatismo';
  backup_full_20260305_1706.sql:969:     
           END IF;
  backup_full_20260305_1706.sql:970:
  backup_full_20260305_1706.sql:971:     
           IF (TG_OP = 'INSERT') THEN
  backup_full_20260305_1706.sql:972:     
               INSERT INTO audit_logs 
(table_name, record_id, operation, 
old_data, new_data, changed_by, 
changed_by_name)
  backup_full_20260305_1706.sql:973:     
               VALUES (TG_TABLE_NAME, 
  backup_full_20260305_1706.sql:974:     
                       CASE 
  backup_full_20260305_1706.sql:975:     
                           WHEN 
TG_TABLE_NAME = 'report_parts' THEN NULL
  backup_full_20260305_1706.sql:976:     
                           WHEN 
TG_TABLE_NAME = 'report_technicians' 
THEN NULL
  backup_full_20260305_1706.sql:977:     
                           WHEN 
TG_TABLE_NAME = 'schedule_parts' THEN 
NULL
  backup_full_20260305_1706.sql:978:     
                           WHEN 
TG_TABLE_NAME = 'schedule_technicians' 
THEN NULL
  backup_full_20260305_1706.sql:979:     
                           WHEN 
TG_TABLE_NAME = 'schedule_time_blocks' 
THEN NULL
  backup_full_20260305_1706.sql:980:     
                           WHEN 
TG_TABLE_NAME = 'ticket_responses' THEN 
NULL
  backup_full_20260305_1706.sql:981:     
                           ELSE 
(to_jsonb(NEW) ->> 'id')::text 
  backup_full_20260305_1706.sql:982:     
                       END, 
  backup_full_20260305_1706.sql:983:     
                       'INSERT', NULL, 
to_jsonb(NEW), user_id, user_name);
  backup_full_20260305_1706.sql:984:     
           ELSIF (TG_OP = 'UPDATE') THEN
  backup_full_20260305_1706.sql:985:     
               INSERT INTO audit_logs 
(table_name, record_id, operation, 
old_data, new_data, changed_by, 
changed_by_name)
  backup_full_20260305_1706.sql:986:     
               VALUES (TG_TABLE_NAME, 
  backup_full_20260305_1706.sql:987:     
                       CASE 
  backup_full_20260305_1706.sql:988:     
                           WHEN 
TG_TABLE_NAME = 'report_parts' THEN NULL
  backup_full_20260305_1706.sql:989:     
                           WHEN 
TG_TABLE_NAME = 'report_technicians' 
THEN NULL
  backup_full_20260305_1706.sql:990:     
                           WHEN 
TG_TABLE_NAME = 'schedule_parts' THEN 
NULL
  backup_full_20260305_1706.sql:991:     
                           WHEN 
TG_TABLE_NAME = 'schedule_technicians' 
THEN NULL
  backup_full_20260305_1706.sql:992:     
                           WHEN 
TG_TABLE_NAME = 'schedule_time_blocks' 
THEN NULL
  backup_full_20260305_1706.sql:993:     
                           WHEN 
TG_TABLE_NAME = 'ticket_responses' THEN 
NULL
  backup_full_20260305_1706.sql:994:     
                           ELSE 
(to_jsonb(NEW) ->> 'id')::text 
  backup_full_20260305_1706.sql:995:     
                       END, 
  backup_full_20260305_1706.sql:996:     
                       'UPDATE', 
to_jsonb(OLD), to_jsonb(NEW), user_id, 
user_name);
  backup_full_20260305_1706.sql:997:     
           ELSIF (TG_OP = 'DELETE') THEN
  backup_full_20260305_1706.sql:998:     
               INSERT INTO audit_logs 
(table_name, record_id, operation, 
old_data, new_data, changed_by, 
changed_by_name)
  backup_full_20260305_1706.sql:999:     
               VALUES (TG_TABLE_NAME, 
  backup_full_20260305_1706.sql:1000:    
                        CASE 
  backup_full_20260305_1706.sql:1001:    
                            WHEN 
TG_TABLE_NAME = 'report_parts' THEN NULL
  backup_full_20260305_1706.sql:1002:    
                            WHEN 
TG_TABLE_NAME = 'report_technicians' 
THEN NULL
  backup_full_20260305_1706.sql:1003:    
                            WHEN 
TG_TABLE_NAME = 'schedule_parts' THEN 
NULL
  backup_full_20260305_1706.sql:1004:    
                            WHEN 
TG_TABLE_NAME = 'schedule_technicians' 
THEN NULL
  backup_full_20260305_1706.sql:1005:    
                            WHEN 
TG_TABLE_NAME = 'schedule_time_blocks' 
THEN NULL
  backup_full_20260305_1706.sql:1006:    
                            WHEN 
TG_TABLE_NAME = 'ticket_responses' THEN 
NULL
  backup_full_20260305_1706.sql:1007:    
                            ELSE 
(to_jsonb(OLD) ->> 'id')::text 
  backup_full_20260305_1706.sql:1008:    
                        END, 
  backup_full_20260305_1706.sql:1009:    
                        'DELETE', 
to_jsonb(OLD), NULL, user_id, user_name);
  backup_full_20260305_1706.sql:1010:    
            END IF;
  backup_full_20260305_1706.sql:1011:    
            RETURN NULL;
  backup_full_20260305_1706.sql:1012:    
        END;
  backup_full_20260305_1706.sql:1013:    
        $$;
  backup_full_20260305_1706.sql:1014:
  backup_full_20260305_1706.sql:1015:
  
backup_full_20260305_1706.sql:1016:ALTER 
FUNCTION public.process_audit_log() 
OWNER TO postgres;
  backup_full_20260305_1706.sql:1017:
  backup_full_20260305_1706.sql:1018:--
  backup_full_20260305_1706.sql:1019:-- 
Name: update_parent_virtual_stock_on_comp
onent_change(); Type: FUNCTION; Schema: 
public; Owner: postgres
  backup_full_20260305_1706.sql:1020:--
  backup_full_20260305_1706.sql:1021:
  backup_full_20260305_1706.sql:1022:CREA
TE FUNCTION public.update_parent_virtual_
stock_on_component_change() RETURNS 
trigger
  backup_full_20260305_1706.sql:1023:    
LANGUAGE plpgsql
  backup_full_20260305_1706.sql:1024:    
AS $$
  backup_full_20260305_1706.sql:1025:
  
backup_full_20260305_1706.sql:1026:BEGIN
  backup_full_20260305_1706.sql:1027:
  backup_full_20260305_1706.sql:1028:    
IF (TG_OP = 'DELETE') THEN
  backup_full_20260305_1706.sql:1029:
  backup_full_20260305_1706.sql:1030:    
    UPDATE parts SET 
  backup_full_20260305_1706.sql:1031:
  backup_full_20260305_1706.sql:1032:    
        virtual_stock = calculate_virtual
_stock(OLD.parent_part_id, 'GENERAL'),
  backup_full_20260305_1706.sql:1033:
  backup_full_20260305_1706.sql:1034:    
        virtual_stock_contract = calculat
e_virtual_stock(OLD.parent_part_id, 
'CONTRACT')
  backup_full_20260305_1706.sql:1035:
  backup_full_20260305_1706.sql:1036:    
    WHERE id = OLD.parent_part_id;
  backup_full_20260305_1706.sql:1037:
  backup_full_20260305_1706.sql:1038:    
    RETURN OLD;


